
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&family=Yusei+Magic&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css');
@import (less) 'https://gist.githubusercontent.com/ohryan/b9593841c024c033783d/raw/eaae7694dac1de45717ce729b7d219936ca68af1/responsive-align.less';
@import (less) 'https://gist.githubusercontent.com/anovsiradj/3de6c00e85480a2e8b4f4dd2db0887e6/raw/7b67df209ecd686fef65599868c5da979d2077a8/looper.less';

@screen-xs-min: 480px;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@screen-xs-max: (@screen-sm-min - 1);
@screen-sm-max: (@screen-md-min - 1);
@screen-md-max: (@screen-lg-min - 1);
@screen-lg-max: (@screen-lg-min - 1);

@font-family-sans-serif: 'Yusei Magic', sans-serif;
@font-family-monospace: 'Ubuntu Mono', monospace;
@font-size-base: 18px;

html,body {
	font-family: 'Yusei Magic', sans-serif;
	vertical-align: baseline;
	font-size: 18px;
}

.header-title {
	h1 {
		margin: 0;
		span {
			padding: 1.1vw 2.2vw;
			display: inline-block;
			font-size: 4.4vw;
		}
	}
}
.content-item-title {
	&, .content-subitem-title {
		margin: 0;
	}
	~ ul + p {
		margin-top: 0.75em; /* disamakan dengan p[style=margin-bottom] (default) supaya ada jarak */
	}
}
.content-list-alt {
	a {
		color: #fff;
	}
	.label {
		display: inline-block;
	}
}

main {
	margin: 0 auto;
	margin-bottom: 64px;

	> h1, > h2, > h3 {
		margin-bottom: 16px;
	}

	> section {
		> details {
			margin-top: 16px;

			> summary {
			}
		}
	}

	details {
		margin-bottom: 32px;
	}

	details > summary::-webkit-details-marker {
		display: none;
	}

	details > summary {
		cursor: s-resize;
		list-style: none;
		margin-bottom: 6px;

		> h3, > h4, > p {
			margin-bottom: 3px;
		}
	}
	details[open] > summary {
		cursor: n-resize;
	}

	details > article > p {
		margin-bottom: 0;
	}
}

@media (max-width: @screen-md-max) {
	main {
		padding-left: 12px;
		padding-right: 12px;
	}
}

@media (min-width: @screen-md-min) {
	main {
		width: 75%;
	}
}
@media (min-width: @screen-lg-min) {
	main {
		width: 66%;
	}
}

// twbs v4+ shim utilities
.looper('.w-*', width, %, 25, 100, 25);
.looper('.h-*', height, %, 25, 100, 25);
.looper('.m-*', margin, em, 1, 5, 1);
.looper('.mt-*', margin-top, em, 1, 5, 1);
.looper('.mb-*', margin-bottom, em, 1, 5, 1);
.looper('.p-*', padding, em, 1, 5, 1);
.looper('.pt-*', padding-top, em, 1, 5, 1);
.looper('.pb-*', padding-bottom, em, 1, 5, 1);
.font-weight-bold {
	font-weight: bold;
}